<h1><%= @place["name"] %></h1>

<% if @current_user != nil %>
  <a href="/entries/new?place_id=<%= @place["id"] %>" class="btn btn-success">New Entry</a>
<% end %>

<div class="row mt-3">
  <% for entry in @entries %>
    <div class="col-sm-6 col-md-4">
      <h4><%= entry["title"] %></h4>
      <p class="text-muted"><%= entry["occurred_on"] %></p>
      <% if entry.image.attached? %>
      <img src="<%= url_for(entry.image) %>" class="img-fluid">
      <% end %>
      <p><%= entry["description"] %></p>
    </div>
  <% end %>
</div>

<a href="/places" class="btn btn-secondary mt-3">Back to All Places</a>
